<html>
<head>
<title>Jyotirmaya</title>
    <link rel="icon" href="images/logo1.jpg" type="image/gif" sizes="17x16">
    <style>
        body,html{
            margin: 0px;
            padding: 0px;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-image:url("images/log2.jpg");
            background-repeat: no-repeat;
            font-family:sans-serif;
        }
        .Login-Box{
            width:360px;
            height: 420px;
            position: absolute;
            top: 50%;
            left:50%;
            background-color: rgba(0,0,0,0.5);
            transform: translate(-50%,-50%);
            color: #fff;
            box-sizing: border-box;
            padding:70px 30px;
        }
        .avatar{
            width:100px;
            height: 100px;
            position: absolute;
            border-radius: 50%;
            top:-50px;
            left:33mm;
        }
        h1{
            text-align: center;
            font-size:22px;
            padding:0px 0px 20px 0px;
            margin:0;
        }
        .Login-Box p{
            padding:0;
            margin:0;
            font-weight: bold;
        }
        .Login-Box input{
            width:100%;
            margin-bottom:20px;
        }
        .Login-Box input[type="email"], input[type="password"]
        {
            border-bottom:1px solid #fff;
            border:none;
            outline: none;
            background: transparent;
            font-size: 16px;
            height: 30px;
            color: #fff;
        }
        .Login-Box input[type="submit"]
        {
            border: none;
            outline: none;
            height: 40px;
            border-radius: 20px;
            color:#fff;
            font-size: 20px;
            background: #1c8adb;
        }
        .Login-Box input[type="submit"]:hover
        {
            background: crimson;
        }
        a{
            font-weight: bold;
            font-size: 15px;
            color: white;
        }
        a:hover{
            color: gold;
        }

        input[type=password]:focus {
            border-bottom: 2px solid floralwhite;
        }
        input[type=email]:focus {
            border-bottom: 2px solid floralwhite;
        }
        p {
            font-size: 17px;
        }

    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();
        /*
        * Perform some validation here.
        */
        $.post("/login",{email:email,pass:pass},function(data){
            if(data==='done') {
                window.location.href="/admin";
            }
        });
    });
});
</script>

</head>
<body>
<div class="Login-Box">
<img src="images/logo2.jpg" class="avatar">
    <h1>Login Here</h1>
    <form action="/index" method="post">
        <p>Email</p>
        <input type="email" name="username" placeholder="Email" id="email">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password" id="password">
        <input type="submit" name="Submit" value="Login" id="submit">
        <a href="#">Forget Password</a>
    </form>
</div>
</body>
</html>
