<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="images/logo1.jpg" type="image/gif" sizes="17x16">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('images/thanks.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity:0.8;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

</style>
</head>
<body>
  <div class="bgimg">

  </div>

  </body>
  </html>
